In [13]:
import pandas as pd
transactions_I = pd.read_csv('data/transactions_I.csv')
transactions_II = pd.read_csv('data/transactions_II.csv')

In [14]:
transactions = pd.concat([transactions_I, transactions_II], ignore_index=True)
transactions.to_csv('data/transactions.csv')

In [15]:
transactions = pd.read_csv('data/transactions.csv')
transactions.head(10)

,Unnamed: 0.1,Unnamed: 0,id,customer,storage_center,space_qty,action,date
0,0,0,1,543,162,5,pick_up,2023-05-01
1,1,1,2,223,198,4,pick_up,2023-05-21
2,2,2,3,639,100,3,reserve,2022-11-22
3,3,3,4,780,170,1,pick_up,2022-10-26
4,4,4,5,838,196,3,drop_off,2022-08-16
5,5,5,6,702,267,4,drop_off,2022-08-30
6,6,6,7,300,200,5,pick_up,2023-02-23
7,7,7,8,626,158,2,reserve,2023-03-20
8,8,8,9,276,63,5,pick_up,2022-11-25
9,9,9,10,616,164,1,reserve,2022-11-27

In [16]:
type(transactions)

pandas.core.frame.DataFrame

In [17]:

import pandas as pd


# join transactions data
def join_transactions_data():
    # read files
    transactions_I = pd.read_csv('data/transactions_I.csv')
    transactions_II = pd.read_csv('data/transactions_II.csv')
    # joins both files and saves to csv
    transactions = pd.concat([transactions_I, transactions_II], ignore_index=True)
    transactions.to_csv('data/transactions.csv')

    df = pd.read_csv('data/transactions.csv')
    return df

# convert date to datetime type
def convert_date_datatype(transactions_df):
    transactions_df['date'] = pd.to_datetime(transactions_df['date'])
    return transactions_df


def add_columns(transactions_df):
    transactions_df['year'] = transactions_df['date'].dt.year
    transactions_df['month'] = transactions_df['date'].dt.month
    transactions_df['day'] = transactions_df['date'].dt.day
    return transactions_df

# save transformed df
def save_transformation(df):
    df.to_csv('data/transformed/transactions.csv')

# run all functions in one main function
def transform_files():
    transactions = join_transactions_data()
    transactions = convert_date_datatype(transactions)
    transactions = add_columns(transactions)
    columns = ['id','customer','storage_center','space_qty','action','date','year','month','day']
    save_transformation(transactions[columns])